#screenshot {
    position: absolute;
    z-index: 1;
}
#dra {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#dra #box {

    stroke-width: 1;
    fill-opacity: 0.5;
    stroke-opacity: 0.9;
}

#dra #marq {
    fill: white;
    stroke: red;
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    stroke-opacity: 0.9;
    fill-opacity: 0.2;
}

#dra #marq.hide {
    display: none;
}